/*body{
  background: url('../images/back.jpeg');
}*/

#error{
  color: red;
}
#wrong2{
  color: red;
}
#wrong{
  color: red;
}
#error2{
  color: red;
}
#error3{
  color: red;
}
#error4{
  color: red;
}
#error5{
  color: red;
}
#error6{
  color: red;
}
#error7{
  color: red;
}
/* .blank{
	display: none;
	margin-left: 10px;
}

.blank_show{
	color: red;
	margin-left: 10px;
} */
